In [1]:
import pandas as pd
import geopy

## Archivo aguacates California

In [ ]:
df= pd.read_csv("cali_avocados.csv")

In [ ]:
df.head()

In [ ]:
df.columns

Columnas:

- Year = Año de observacion.
- Commodity Code = Codigo de la mercancia( es el mismo para todos)
- Crop Name =  Nombre del cultivo
- County Code = Codigo del estado
- County = Estado
- Harvested Acres =  numero de acres cosechados
- Yield = rendimiento de cosecha
- Production = toneladas producidas
- Price P/U = precio por tonelada
- Unit = unidad de medida (toneladas)
- Value = precio por produccion (en dolares)

---

In [ ]:
cambio_columnas = {col :  col.strip().replace(" ","_") for col in df.columns}

In [ ]:
df.rename(columns = cambio_columnas, inplace=True)

In [ ]:
df.columns

In [ ]:
nombre_columnas= {'Year': 'Año', 'Commodity_Code' : "Codigo Mercancia", 'Crop_Name': 'Nombre del Cultivo', 'County_Code': 'Codigo del Estado', 'County':'Estado',
       'Harvested_Acres':'Acres Cosechados', 'Yield':'Rendimiento', 'Production':'Produccion', 'Price_P/U': 'Precio USD', 'Unit' :'Unidad', 'Value':'Total USD'}

In [ ]:
df.rename(columns = nombre_columnas, inplace=True)

---

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df['Region'] = 'California'

In [ ]:
df.head()

In [ ]:
df.to_csv("aguacate_limpio.csv", index=False)

---

## Archivo de Aguacates USA

In [2]:
df2= pd.read_csv("avocado.csv",index_col=0)
df2.head()

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [3]:
df2.shape

(18249, 13)

In [4]:
df2.groupby("region")["Total Volume"].sum().reset_index().sort_values(by="Total Volume", ascending=False)

                 region  Total Volume
51              TotalUS  5.864740e+09
52                 West  1.086779e+09
6            California  1.028982e+09
45         SouthCentral  1.011280e+09
29            Northeast  7.132809e+08
46            Southeast  6.152384e+08
15           GreatLakes  5.896425e+08
25             Midsouth  5.083494e+08
22           LosAngeles  5.078965e+08
35               Plains  3.111885e+08
28              NewYork  2.407341e+08
11        DallasFtWorth  2.084193e+08
18              Houston  2.031679e+08
33        PhoenixTucson  1.956433e+08
53     WestTexNewMexico  1.445218e+08
12               Denver  1.389025e+08
42         SanFrancisco  1.358302e+08
2   BaltimoreWashington  1.347139e+08
8               Chicago  1.337023e+08
36             Portland  1.105522e+08
43              Seattle  1.092142e+08
24    MiamiFtLauderdale  9.767322e+07
4                Boston  9.727398e+07
41             SanDiego  8.979192e+07
1               Atlanta  8.860512e+07
40           Sacramento  7.516375e+07
32         Philadelphia  7.183880e+07
30   NorthernNewEngland  7.153289e+07
50                Tampa  6.600454e+07
13              Detroit  6.342242e+07
44        SouthCarolina  6.075377e+07
31              Orlando  5.866070e+07
21             LasVegas  5.437691e+07
17  HartfordSpringfield  5.067054e+07
37    RaleighGreensboro  4.820273e+07
27     NewOrleansMobile  4.569514e+07
9      CincinnatiDayton  4.452201e+07
38      RichmondNorfolk  4.223085e+07
16   HarrisburgScranton  4.180886e+07
26            Nashville  3.561209e+07
7             Charlotte  3.555554e+07
48              StLouis  3.207283e+07
19         Indianapolis  3.026339e+07
14          GrandRapids  3.021174e+07
10             Columbus  2.999336e+07
20         Jacksonville  2.879000e+07
39              Roanoke  2.504201e+07
5      BuffaloRochester  2.296247e+07
34           Pittsburgh  1.880635e+07
23           Louisville  1.609700e+07
0                Albany  1.606780e+07
47              Spokane  1.556528e+07
3                 Boise  1.441319e+07
49             Syracuse  1.094267e+07

---

In [5]:
df2.columns

Index(['Date', 'AveragePrice', 'Total Volume', '4046', '4225', '4770',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year',
       'region'],
      dtype='object')

In [6]:
nombre_columnas2= {'Date': 'Fecha', 'AveragePrice':'Precio Promedio', 'Total Volume': 'Volumen Total', '4046':'4046', '4225':'4225', '4770':'4770',
       'Total Bags': 'Bolsas Total', 'Small Bags':'Bolsas Pequeñas', 'Large Bags':'Bolsas Grandes', 'XLarge Bags':'Bolsa Extra Grande', 'type': 'Tipo', 'year':'Año',
       'region':'Region'}

In [7]:
df2.rename(columns = nombre_columnas2, inplace=True)

In [8]:
df2.head()

,Fecha,Precio Promedio,Volumen Total,4046,4225,4770,Bolsas Total,Bolsas Pequeñas,Bolsas Grandes,Bolsa Extra Grande,Tipo,Año,Region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [ ]:
# importing geopy library
from geopy.geocoders import Nominatim

# calling the Nominatim tool
loc = Nominatim(user_agent="GetLoc")

In [ ]:
def latitud (col):
    getLoc = loc.geocode(col)
    return getLoc[1][0]

In [ ]:
def longitud (col):
    getLoc = loc.geocode(col)
    return getLoc[1][1]

---

### Crear columna que contenga estados sobre dataset de USA TOTAL

In [9]:
df2.Region.unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [10]:

estados= {'Albany': 'Oregon', 'Atlanta':'Georgia','BaltimoreWashington':'Maryland', 'Boise': 'Idaho',
'Boston': 'Massachusetts','BuffaloRochester':'Nueva York', 'California':'California', 'Charlotte': 'Carolina del Norte',
'Chicago':'Illinois','CincinnatiDayton': 'Ohio', 'Columbus':'Ohio' , 'DallasFtWorth': 'Tejas', 'Denver':'Colorado',
'Detroit':'Michigan', 'GrandRapids': 'Michigan' , 'GreatLakes': 'Total Grandes Lagos', 'HarrisburgScranton':'Pensilvania',
'HartfordSpringfield': 'Connecticut', 'Houston':'Tejas', 'Indianapolis':'Indiana', 'Jacksonville':'Florida','LasVegas': 'Nevada',
'LosAngeles': 'California', 'Louisville':'Kentucky', 'MiamiFtLauderdale':'Florida','Midsouth':'Total Medio Sur',
'Nashville': 'Tennessee', 'NewOrleansMobile':'Luisiana', 'NewYork': 'Nueva York','Northeast': 'Total NorEste',
'NorthernNewEngland': 'Maine', 'Orlando': 'Florida', 'Philadelphia': 'Pensilvania','PhoenixTucson': 'Arizona',
'Pittsburgh': 'Pensilvania', 'Plains':'Tejas', 'Portland': 'Oregon','RaleighGreensboro':'Carolina del Norte',
'RichmondNorfolk': 'Virginia', 'Roanoke': 'Virginia', 'Sacramento':'California','SanDiego':'California',
'SanFrancisco': 'California', 'Seattle': 'Washington', 'SouthCarolina': 'Carolina del Sur','SouthCentral': 'Total Sur',
'Southeast':'Total SurEste', 'Spokane':'Washington', 'StLouis': 'Misuri', 'Syracuse':'Nueva York','Tampa': 'Florida',
'TotalUS': 'Total USA', 'West':'Total Oeste', 'WestTexNewMexico': 'Nuevo México'}

In [11]:
df2["Estados"]=df2["Region"].map(estados)

In [12]:
df2.head()

,Fecha,Precio Promedio,Volumen Total,4046,4225,4770,Bolsas Total,Bolsas Pequeñas,Bolsas Grandes,Bolsa Extra Grande,Tipo,Año,Region,Estados
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,Oregon
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,Oregon
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,Oregon
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,Oregon
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,Oregon

In [ ]:
df2.Estados.unique()

In [14]:
def toneladas (col):
   ton= col*0.000453592
   return ton

In [15]:
df2["volumen_ton"]= df2["Volumen Total"].apply(toneladas)

In [16]:
df2.head()

,Fecha,Precio Promedio,Volumen Total,4046,4225,4770,Bolsas Total,Bolsas Pequeñas,Bolsas Grandes,Bolsa Extra Grande,Tipo,Año,Region,Estados,volumen_ton
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,Oregon,29.137217
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,Oregon,24.891759
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,Oregon,53.623746
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,Oregon,35.830207
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,Oregon,23.151154

In [17]:
df2.to_csv("aguacate_usa.csv", index=False)

In [37]:
df2.head()

,Fecha,Precio Promedio,Volumen Total,4046,4225,4770,Bolsas Total,Bolsas Pequeñas,Bolsas Grandes,Bolsa Extra Grande,Tipo,Año,Region,Estados
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,Oregon
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,Oregon
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,Oregon
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,Oregon
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,Oregon

In [ ]:
df2.Año.value_counts()

---