In [ ]:
import pandas as pd
import geopy

## Archivo aguacates California

In [ ]:
df= pd.read_csv("cali_avocados.csv")

In [ ]:
df.head()

In [ ]:
df.columns

Columnas:

- Year = Año de observacion.
- Commodity Code = Codigo de la mercancia( es el mismo para todos)
- Crop Name =  Nombre del cultivo
- County Code = Codigo del estado
- County = Estado
- Harvested Acres =  numero de acres cosechados
- Yield = rendimiento de cosecha
- Production = toneladas producidas
- Price P/U = precio por tonelada
- Unit = unidad de medida (toneladas)
- Value = precio por produccion (en dolares)

---

In [ ]:
cambio_columnas = {col :  col.strip().replace(" ","_") for col in df.columns}

In [ ]:
df.rename(columns = cambio_columnas, inplace=True)

In [ ]:
df.columns

In [ ]:
nombre_columnas= {'Year': 'Año', 'Commodity_Code' : "Codigo Mercancia", 'Crop_Name': 'Nombre del Cultivo', 'County_Code': 'Codigo del Estado', 'County':'Estado',
       'Harvested_Acres':'Acres Cosechados', 'Yield':'Rendimiento', 'Production':'Produccion', 'Price_P/U': 'Precio USD', 'Unit' :'Unidad', 'Value':'Total USD'}

In [ ]:
df.rename(columns = nombre_columnas, inplace=True)

---

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df['Region'] = 'California'

In [ ]:
df.head()

In [ ]:
df.to_csv("aguacate_limpio.csv", index=False)

---

## Archivo de Aguacates USA

In [ ]:
df2= pd.read_csv("avocado.csv",index_col=0)
df2.head()

In [ ]:
df2.shape

In [ ]:
df2.groupby("region")["Total Volume"].sum().reset_index().sort_values(by="Total Volume", ascending=False)

---

In [ ]:
df2.columns

In [ ]:
nombre_columnas2= {'Date': 'Fecha', 'AveragePrice':'Precio Promedio', 'Total Volume': 'Volumen Total', '4046':'4046', '4225':'4225', '4770':'4770',
       'Total Bags': 'Bolsas Total', 'Small Bags':'Bolsas Pequeñas', 'Large Bags':'Bolsas Grandes', 'XLarge Bags':'Bolsa Extra Grande', 'type': 'Tipo', 'year':'Año',
       'region':'Region'}

In [ ]:
df2.rename(columns = nombre_columnas2, inplace=True)

In [ ]:
df2.head()

In [ ]:
# importing geopy library
from geopy.geocoders import Nominatim

# calling the Nominatim tool
loc = Nominatim(user_agent="GetLoc")

In [ ]:
def latitud (col):
    getLoc = loc.geocode(col)
    return getLoc[1][0]

In [ ]:
def longitud (col):
    getLoc = loc.geocode(col)
    return getLoc[1][1]

---

### Crear columna que contenga estados sobre dataset de USA TOTAL

In [ ]:
df2.Region.unique()

In [ ]:

estados= {'Albany': 'Oregon', 'Atlanta':'Georgia','BaltimoreWashington':'Maryland', 'Boise': 'Idaho',
'Boston': 'Massachusetts','BuffaloRochester':'Nueva York', 'California':'California', 'Charlotte': 'Carolina del Norte',
'Chicago':'Illinois','CincinnatiDayton': 'Ohio', 'Columbus':'Ohio' , 'DallasFtWorth': 'Tejas', 'Denver':'Colorado',
'Detroit':'Michigan', 'GrandRapids': 'Michigan' , 'GreatLakes': 'Total Grandes Lagos', 'HarrisburgScranton':'Pensilvania',
'HartfordSpringfield': 'Connecticut', 'Houston':'Tejas', 'Indianapolis':'Indiana', 'Jacksonville':'Florida','LasVegas': 'Nevada',
'LosAngeles': 'California', 'Louisville':'Kentucky', 'MiamiFtLauderdale':'Florida','Midsouth':'Total Medio Sur',
'Nashville': 'Tennessee', 'NewOrleansMobile':'Luisiana', 'NewYork': 'Nueva York','Northeast': 'Total NorEste',
'NorthernNewEngland': 'Maine', 'Orlando': 'Florida', 'Philadelphia': 'Pensilvania','PhoenixTucson': 'Arizona',
'Pittsburgh': 'Pensilvania', 'Plains':'Tejas', 'Portland': 'Oregon','RaleighGreensboro':'Carolina del Norte',
'RichmondNorfolk': 'Virginia', 'Roanoke': 'Virginia', 'Sacramento':'California','SanDiego':'California',
'SanFrancisco': 'California', 'Seattle': 'Washington', 'SouthCarolina': 'Carolina del Sur','SouthCentral': 'Total Sur',
'Southeast':'Total SurEste', 'Spokane':'Washington', 'StLouis': 'Misuri', 'Syracuse':'Nueva York','Tampa': 'Florida',
'TotalUS': 'Total USA', 'West':'Total Oeste', 'WestTexNewMexico': 'Nuevo México'}

In [ ]:
df2["Estados"]=df2["Region"].map(estados)

In [ ]:
df2.head()

In [ ]:
df2.Estados.unique()

In [ ]:
df2.to_csv("aguacate_usa.csv", index=False)

In [37]:
df2.head()

,Fecha,Precio Promedio,Volumen Total,4046,4225,4770,Bolsas Total,Bolsas Pequeñas,Bolsas Grandes,Bolsa Extra Grande,Tipo,Año,Region,Estados
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany,Oregon
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany,Oregon
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany,Oregon
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany,Oregon
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany,Oregon

In [ ]:
df2.Año.value_counts()

---