In [18]:
import pandas as pd

In [19]:
df= pd.read_csv("cali_avocados.csv")

In [20]:
df.head()

,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
0,2020,221999,AVOCADOS ALL,53,Monterey,223,5.56,1240,2379.84,Tons,2951000
1,2020,221999,AVOCADOS ALL,65,Riverside,3020,,,,Tons,88697000
2,2020,221999,AVOCADOS ALL,71,San Bernardino,370,2.16,799,2617.02,Tons,2091000
3,2020,221999,AVOCADOS ALL,73,San Diego,14400,3.51,50500,3028.87,Tons,152958000
4,2020,221999,AVOCADOS ALL,79,San Luis Obispo,4240,5.9,25000,1886.76,Tons,47169000

In [21]:
df.columns

Index(['Year', ' Commodity Code', ' Crop Name', ' County Code', ' County',
       ' Harvested Acres', ' Yield', ' Production', ' Price P/U', ' Unit',
       ' Value'],
      dtype='object')

Columnas:

- Year = Año de observacion.
- Commodity Code = Codigo de la mercancia( es el mismo para todos)
- Crop Name =  Nombre del cultivo
- County Code = Codigo del estado
- County = Estado
- Harvested Acres =  numero de acres cosechados
- Yield = rendimiento de cosecha
- Production = toneladas producidas
- Price P/U = precio por tonelada
- Unit = unidad de medida (toneladas)
- Value = precio por produccion (en dolares)

---

In [22]:
cambio_columnas = {col :  col.strip().replace(" ","_") for col in df.columns}

In [23]:
df.rename(columns = cambio_columnas, inplace=True)

In [24]:
df.columns

Index(['Year', 'Commodity_Code', 'Crop_Name', 'County_Code', 'County',
       'Harvested_Acres', 'Yield', 'Production', 'Price_P/U', 'Unit', 'Value'],
      dtype='object')

In [26]:
nombre_columnas= {'Year': 'Año', 'Commodity_Code' : "Codigo Mercancia", 'Crop_Name': 'Nombre del Cultivo', 'County_Code': 'Codigo del Estado', 'County':'Estado',
       'Harvested_Acres':'Acres Cosechados', 'Yield':'Rendimiento', 'Production':'Produccion', 'Price_P/U': 'Precio USD', 'Unit' :'Unidad', 'Value':'Total USD'}

In [27]:
df.rename(columns = nombre_columnas, inplace=True)

---

In [28]:
df.head()

,Año,Codigo Mercancia,Nombre del Cultivo,Codigo del Estado,Estado,Acres Cosechados,Rendimiento,Produccion,Precio USD,Unidad,Total USD
0,2020,221999,AVOCADOS ALL,53,Monterey,223,5.56,1240,2379.84,Tons,2951000
1,2020,221999,AVOCADOS ALL,65,Riverside,3020,,,,Tons,88697000
2,2020,221999,AVOCADOS ALL,71,San Bernardino,370,2.16,799,2617.02,Tons,2091000
3,2020,221999,AVOCADOS ALL,73,San Diego,14400,3.51,50500,3028.87,Tons,152958000
4,2020,221999,AVOCADOS ALL,79,San Luis Obispo,4240,5.9,25000,1886.76,Tons,47169000

In [ ]:
df.shape

(420, 11)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

Year                0
 Commodity Code     0
 Crop Name          0
 County Code        0
 County             0
 Harvested Acres    0
 Yield              0
 Production         0
 Price P/U          0
 Unit               0
 Value              0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              420 non-null    int64
 1    Commodity Code   420 non-null    int64
 2    Crop Name        420 non-null    object
 3    County Code      420 non-null    int64
 4    County           420 non-null    object
 5    Harvested Acres  420 non-null    object
 6    Yield            420 non-null    object
 7    Production       420 non-null    object
 8    Price P/U        420 non-null    object
 9    Unit             420 non-null    object
 10   Value            420 non-null    object
dtypes: int64(3), object(8)
memory usage: 36.2+ KB

In [29]:
df.to_csv("aguacate_limpio.csv", index=False)